.mainContainer{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.divContainer{
    border: 3px solid black;
    background-color: #9ca3ad;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    align-content: center;
    margin-top: 10px;
}

.titleH2{
    font-family: cursive;
    font-size: 30px;
}

.divButton{
    margin-top: 30px;
}


.input{
    height: 20px;
    border:2px solid green;
    border-radius: 5px;
    background-color: rgb(153, 235, 153);
}

.inputError{
    height: 20px;
    border: 2px solid rgb(241, 21, 13) 2px;
    background-color: rgb(231, 161, 161);
    border-radius: 5px;
}
.checkError{
    border: 2px solid rgb(241, 21, 13) 2px;
    background-color: red;

}
.check{
    border:2px solid green;
    background-color: green;
}


.label{
    font-family: cursive;
    font-size: 20px;
    padding: 5px;
}


.mapH3{
    font-family: cursive;
    font-size: 20px;
}


.buttonForm{
    width: 120px;
    height: 40px;
    background-color: #0fd4dd ;
    border-radius: 15px;
    border: solid black 2px;
    margin-top: 5px;
    font-family: cursive;
    font-size: 20px;
    margin-bottom: 10px;
}
.buttonForm:hover{
    background-color:  #04eefa;
}
  
.buttonForm:active{
    background-color: #04eefa;
}


.buttonBack{
    width: 120px;
    height: 40px;
    background-color: #0fd4dd ;
    border-radius: 15px;
    border: solid black 2px;
    margin-top: 5px;
    font-family: cursive;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
}
.buttonBack:hover{
    background-color:  #04eefa;
}
  
.buttonBack:active{
    background-color: #04eefa;
}


.NavLink{
    text-decoration: none;
    color: black;

}
.textPlatforms{
    font-family: cursive;
}

.buttonMasPlatform{
    cursor: pointer;

}