.mainContainer{
    border: 1px solid black;
    background-color: rgb(240, 158, 129);
    border-radius: 10px;
}


.cardImage{
    max-width: 150px;
    max-height: 200px;
    border-radius: 15px;
}
.name{
    font-family: cursive;
    font-size: 20px;

}
.genre{
    font-family: cursive;
    font-size: 20px;

}