.mainContainer{
   border-radius: 5px 5px 0px 0px;
   background-color: aquamarine;
   height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;

}

.buttonHome{
    width: 120px;
    height: 40px;
    background-color: #0fd4dd ;
    border-radius: 15px;
    border: solid black 2px;
    margin-top: 5px;
    font-family: cursive;
    font-size: 20px;

}
.buttonHome:hover{
    background-color:  #04eefa;
}
  
.buttonHome:active{
    background-color: #04eefa;
}

.buttonCreate{
    width: 120px;
    height: 40px;
    background-color: #0fd4dd ;
    border-radius: 15px;
    border: solid black 2px;
    margin-top: 5px;
    font-family: cursive;
    font-size: 20px;

}
.buttonCreate:hover{
    background-color:  #04eefa;
}
  
.buttonCreate:active{
    background-color: #04eefa;
}


.buttonSearch{
    width: 120px;
    height: 40px;
    background-color: #0fd4dd ;
    border-radius: 15px;
    border: solid black 2px;
    margin-top: 5px;
    font-family: cursive;
    font-size: 20px;
    cursor: pointer;

}
.buttonSearch:hover{
    background-color:  #04eefa;
}
  
.buttonSearch:active{
    background-color: #04eefa;
}

.label{
    margin-top: 10px;
    font-family: cursive;
    font-size: 20px;
}
.input{
    border: solid black 2px;
    margin-left: 4px;
    height: 40px;
    margin-top: 2px;
    border-radius: 5px;

}
.NavLink{
    text-decoration: none;
    color: black;

}